server:
  port: 8080

spring:
  application:
    name: vaultforge

  datasource:
    url: jdbc:postgresql://localhost:5432/vaultforge
    username: vaultforge
    password: vaultforge

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  data:
    mongodb:
      uri: mongodb://localhost:27017/vaultforge

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

springdoc:
  swagger-ui:
    path: /swagger